@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #13161d;
}

/* Navbar */

.header {
  width: 100%;
  z-index: 3;
  display: flex;
  justify-content: center;
  background-color: #13161d;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
}

.header .contact {
  
  color: #fff;
  text-align: center;
 
}

.contact-span {
  color: #5c7aea;
  font-weight: bold;
  border-bottom: 2px solid #5c7aea;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.logo img {
  width: 280px;
  height: auto;
  margin-left: -20px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  margin-top: 10px;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #417add;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #417add;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media only screen and (max-width: 767px) {
  .header {
    display: block !important;
  }
  .logo img {
    width: 260px !important;
  }
}
@media only screen and (max-width: 367px) {
  .logo img {
    width: 230px !important;
  }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Hero */

.hero {
  padding: 30px 0;
  text-align: center;
}

.label-title {
  font-size: 20px;
  color: #423b52;
}

.title {
  font-size: 70px;
  color: #fff;
  letter-spacing: -2.1px;
  white-space: nowrap;
  margin-bottom: -1px;
  font-family: 'Montserrat', sans-serif;
}

.title-gradient {
  font-size: 70px;
  background: linear-gradient(90deg, #1860de, #8497ff, #e2abff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  letter-spacing: -2.1px;
  white-space: nowrap;
  margin-bottom: -1px;
  font-family: 'Montserrat', sans-serif;
}

.btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
.btns a {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
.cv {
  padding: 20px 60px;
  border-radius: 12px;
  color: #fff;
  font-weight: 400;
  background-color: #1860de;
  margin: 5px;
}
.btn-projects {
  padding: 15px 60px;
  border-radius: 30px;
  color: #fff;
  text-decoration: line-through;
  font-weight: 700;
}

.row-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  margin-top: 30px;
}

.item-about {
  margin: 10px;
}

.item-about p {
  margin: 2px;
  font-size: 22px;
  font-weight: 500;
  width: 720px;
  margin: 30px 0px;
  color: #fff;
}

.item-about h3 {
  background: linear-gradient(90deg, #1860de, #8497ff, #e2abff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
  font-size: 30px;
}

.perfil {
  max-width: 100%;
  width: auto;
  height: 470px;
  transform: translateY(0px);
  animation: 5s ease-in-out infinite floating;
}

@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons img {
  width: 43px;
  height: auto;
  margin: 5px;
}

.social-icons a {
  margin: 2px;
}

@media screen and (max-width: 600px) {
  .item-about:nth-child(1) {
    margin-top: -70px;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 10px 0;
  }
  .perfil {
    height: 370px;
  }
  .about {
    margin-bottom: -30px;
    margin-top: 20px;
  }
  .item-about h3 {
    font-size: 20px;
  }
  .item-about p {
    margin: 2px;
    font-size: 17px;
    font-weight: 500;
    width: auto;
    margin: 5px 0px;
    text-align: center;
  }
  .title {
    display: none;
  }
  .title-gradient {
    margin-top: 40px;
    font-size: 40px;
    width: auto;
    height: auto;
    max-width: auto;
    text-align: center;
  }
  .btns {
    justify-content: center;
    padding: 20px;
  }
  .cv {
    padding: 10px 20px;
  }
  .btn-projects {
    padding: 10px 20px;
    border: 2px solid #8497ff;
  }
}

/* Slide Autoplay */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: inherit;
  padding: 20px 0;
  transform: rotate(-4.3deg);
  background-color: #1860de;
}
.slider::before,
.slider::after {
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
  background-color: inherit;
}
.slider .slide {
  height: 100px;
  width: 250px;
}

@media only screen and (max-width: 767px) {
  .slider {
    transform: none;
  }
}

/* Projects */




.hero-section{
  margin-top: 30px;
  align-items: flex-start;
  background-color: #1860DE;
  display: flex;
  min-height: 100%;
  justify-content: center;
 
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}






/* Contact */

#contact {
  text-align: center;
  padding-bottom: 30px;

  padding-top: 10px;
}

.title-contact {
  font-size: 70px;
  color: #fff;
  letter-spacing: -2.1px;
  white-space: nowrap;
  margin-bottom: -1px;
  margin-top: 50px;
  text-align: center;
}

.row-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item-contact {
  margin: 10px;
}

.item-contact:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email {
  background-color: transparent;
  border: 2px solid #fff;
}

.submit {
  color: #fff;
  border: 3px solid #fff;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border-radius: 30px;
  margin-top: 40px;
}

.perfil-contact {
  height: auto;
  width: 100px;
}

.item-contact h4 {
  font-size: 30px;
  color: #fff;
}

.item-contact p {
  font-weight: 400;
  color: #1860de;
  font-weight: 500;
}

.email-contact {
  text-align: center;
  padding: 20px 60px;
  border-radius: 30px;
  color: #fff;
  font-weight: 600;

  margin: 25px;
  font-family: 'Montserrat', sans-serif;
}

.made {
  margin-top: 30px;
  font-weight: 500;
  color: #fff;
}

.made a {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form input {
  margin: 10px;
  width: 300px;

  border: 0px;
  padding: 10px;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
}
form textarea {
  padding: 30px;

  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: none;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .email-contact {
    font-size: 15px;
    padding: 20px 20px;
  }
  .row-contact {
    margin: 20px;
  }
  .skills h1 {
    font-size: 45px;
  }
  .title-project h1 {
    font-size: 45px;
  }
  .title-contact {
    font-size: 45px;
  }
  .item-contact:nth-child(1) {
    margin-bottom: -10px;
  }
}
